extends ../../layout/layout
include ../../components/header/header
include ../../components/footer/footer
include ../../components/diagram/diagram
include ../../components/comfort/comfort 
include ../../components/reservation/reservation 
include ../../components/comment/comment 
include ../../components/bullet-list/bullet-list

append head 
    meta(name="description", content="room details")
    meta(name="keywords", content="room, details")
    title room-details
block variables 
    - 
        mainClass = "room-details js-room-details" 
        const data = require("../../layout/layout-data.json")
        const pageData = require("./room-details-data.json")
block content  
    section.room-details__images                
        img.room-details__big-image(src="./assets/img/room-details-big-picture.jpg", alt="hotel photo")        
        img.room-details__small-image(src="./assets/img/room-details-small-picture-1.jpg", alt="hotel photo")            
        img.room-details__small-image(src="./assets/img/room-details-small-picture-2.jpg", alt="hotel photo")
    main.room-details__body
        .room-details__container
            .room-details__bottom-container
                section.room-details__about-the-room
                    h2.room-details__about-the-room-title= pageData.comfortTitle 
                    .room-details__about-the-room-item
                        +comfort(pageData.comfort[0])
                    .room-details__about-the-room-item
                        +comfort(pageData.comfort[1])
                    .room-details__about-the-room-item
                        +comfort(pageData.comfort[2])
                section.room-details__diagram
                    h2.room-details__diagram-title= pageData.diagramTitle 
                    +diagram(pageData.diagram)
                section.room-details__comments
                    h2.room-details__comments-title= pageData.commentsTitle 
                    .room-details__comments-item
                        +comment(pageData.comments[0])
                    .room-details__comments-item
                        +comment(pageData.comments[1])
                section.room-details__rules
                    h2.room-details__rules-title= pageData.rulesTitle
                    +bullet-list(pageData.bulletList) 
                section.room-details__cancel
                    h2.room-details__cancel-title= pageData.cancel.title
                    .room-details__cancel-text= pageData.cancel.text
            section.room-details__reservation.js-room-details__reservation
                +reservation(pageData.reservation)
