mixin diagram({num = 0, vote = "голосов", well = "Великолепно", good = "Хорошо", satisfactorily = "Удовлетворительно", disappointed = "Разочарован"})
    .diagram
        .diagram__circle
            .diagram__circle-back
            .diagram__circle-part-left
            .diagram__circle-part-right-top
            .diagram__circle-part-right-bot
            h3.diagram__circle-num= num
                span.diagram__circle-vote=vote
        .diagram__rating
            p.diagram__rating_well= well
            p.diagram__rating_good= good
            p.diagram__rating_satisfactorily= satisfactorily 
            p.diagram__rating_disappointed= disappointed
