mixin diagram(options = {})
    -
        const {
            num = "0", 
            vote = "", 
            well = "", 
            good = "", 
            satisfactorily = "", 
            disappointed = "",
            width = 140,
            height = 140
        } = options
    .diagram
        .diagram__circle-container
            canvas.js-diagram(width=width height=height)
            h3.diagram__circle-num= num
                span.diagram__circle-vote= vote
        .diagram__rating-container 
            ul.diagram__rating-list
                li.diagram__rating.diagram__rating_color_orange= well
                li.diagram__rating.diagram__rating_color_green= good
                li.diagram__rating.diagram__rating_color_purple= satisfactorily 
                li.diagram__rating.diagram__rating_color_black= disappointed
