mixin diagram(options = {})
    -
        const {
            num = 0, 
            vote = "", 
            well = "", 
            good = "", 
            satisfactorily = "", 
            disappointed = ""
        } = options
    .diagram
        .diagram__circle-container
            .diagram__circle-back
            .diagram__circle-part-left
            .diagram__circle-part-right-top
            .diagram__circle-part-right-bot
            h3.diagram__circle-num= num
                span.diagram__circle-vote= vote
        .diagram__rating-container 
            p.diagram__rating.diagram__rating_color_orange= well
            p.diagram__rating.diagram__rating_color_green= good
            p.diagram__rating.diagram__rating_color_purple= satisfactorily 
            p.diagram__rating.diagram__rating_color_black= disappointed
