mixin diagram({num = 0, vote = "голосов", well = "Великолепно", good = "Хорошо", satisfactorily = "Удовлетворительно", disappointed = "Разочарован"})
    .diagram
        .diagram__circle
            .circle__back
            .circle__part-left
            .circle__part-right-top
            .circle__part-right-bot
            h3.circle__text= num
                span=vote
        .diagram__rating
            p.rating_well= well
            p.rating_good= good
            p.rating_satisfactorily= satisfactorily 
            p.rating_disappointed= disappointed
