mixin diagram(options = {})
    -
        const {
            vote = "", 
            width = 140,
            height = 140,
            data = [],
        } = options
    .diagram
        .diagram__circle-container
            canvas.js-diagram(
                width=width, 
                height=height,
                )
            h3.diagram__circle-num.js-diagram__circle-num
                span.diagram__circle-vote= vote
        .diagram__rating-container             
            each item in data
                - const {color, text, primary, secondary} = item
                .diagram__rating-item
                    .diagram__rating-circle(
                        style=`background: linear-gradient(180deg, ${primary} 0%, ${secondary} 100%)`
                    )
                    .diagram__rating-text= text
