extends ../../layout/layout
include ../../components/header/header
include ../../components/footer/footer 
include ../../components/dropdown/dropdown
include ../../components/range-slider/range-slider
include ../../components/checkbox/checkbox 
include ../../components/expandable-checkbox-list/expandable-checkbox-list
include ../../components/room-card/room-card
include ../../components/pagination/pagination
include ../../components/date-range/date-range
include ../../components/date-filter/date-filter
append head  
    meta(name="description", content="search room")
    meta(name="keywords", content="search, room")
    title search-room
block variables 
    - 
        mainClass = "search-room js-search-room" 
        const data = require("../../layout/layout-data.json")
        const pageData = require("./search-room-data.json")
block content
    .search-room__container
        main.search-room__body
            section.search-room__options
                .search-room__options-date-filter.js-search-room__options-date-filter
                    legend.search-room__options-date-filter-legend= pageData.dateFilterTitle
                    +date-filter({start: "2023-08-19", end: "2023-08-23"})
                .search-room__options-dropdown-guests.js-search-room__options-dropdown-guests
                    legend.search-room__options-dropdown-guests-legend= pageData.dropdownTitle
                    +dropdown(pageData.dropdownItems) 
                .search-room__options-range-slider.js-search-room__options-range-slider
                    legend.search-room__options-range-slider-legend= pageData.rangeSliderTitle
                    +range-slider({caption: pageData.rangeSliderCaption})
                .search-room__options-checkbox
                    legend.search-room__options-checkbox-legend= pageData.checkboxRulesTitle 
                    .search-room__options-checkbox-item
                        +checkbox({ text: pageData.checkboxRulesItems[0]})
                    .search-room__options-checkbox-item
                        +checkbox({ text: pageData.checkboxRulesItems[1]})
                    .search-room__options-checkbox-item
                        +checkbox({ text: pageData.checkboxRulesItems[2]})
                .search-room__options-checkbox-2
                    legend.search-room__options-checkbox-2-legend= pageData.checkboxAvailabilityTitle
                    .search-room__options-checkbox-2-item
                        +checkbox(pageData.checkboxAvailabilityItems[0])
                    .search-room__options-checkbox-2-item
                        +checkbox(pageData.checkboxAvailabilityItems[1])
                .search-room__options-dropdown-facilities.js-search-room__options-dropdown-facilities
                    legend.search-room__options-dropdown-facilities-legend= pageData.dropdownFacilitiesTitle
                    .dropdown-facilities
                        +dropdown(pageData.dropdownFacilitiesItems)
                .search-room__options-checkbox-list
                    +expandable-checkbox-list(pageData.expandableCheckboxList)
            .search-room__right-container
                h1.search-room__title= pageData.searchRoomTitle
                section.search-room__hotels
                    each roomCard in pageData.roomCards
                        +room-card(roomCard)
                section.search-room__pagination.js-search-room__pagination
                    +pagination(pageData.pagination)