include ../button/button
include ../data-dropdown/data-dropdown
include ../dropdown/dropdown
mixin reservation({num = 888, lux = true, cost = "9 990₽ ", days = "4", discount = "2 179₽ ", costResult = "39 960₽", resultService = "0₽", resultServices = "300₽", finalSum = "38 081₽"} = {})
    form.reservation(action="" method = "post")
        .reservation__container
            .reservation__description
                h1.description__num= num
                if lux
                    h3.description__lux люкс
                .description__cost 
                    b= cost
                    span в сутки
            .reservation__com-data
                +data-double({dropdowns: ["прибытие", "выезд"]})
            .reservation__guests
                legend Гости
                .dropdown-guests
                    +dropdown({items: ["взрослые", "дети", "младенцы"], title: "Сколько гостей", buttons: true})   
            .reservation__count
                .count__text
                    p= cost
                     | х 
                     = days 
                     | суток
                    p.count__inf Сбор за услуги: скидка 2 179₽
                    p.count__inf Сбор за дополнительные услуги 
                .count__cost
                    p= costResult
                    p= resultService
                    p= resultServices
            .reservation__final
                h2 Итого
                .final__line
                h2= finalSum
            .reservation__button-solid
                +button({type:"long", text:"забронировать"})