include ../button/button
include ../date-range/date-range
include ../dropdown/dropdown
mixin reservation(options = {})
    -
        const {
            actionForm = "",
            num = "", 
            isLux = true, 
            luxText = "", 
            dateRange = [],
            legendGuests = "" , 
            dropdown = {},
            cost = "", 
            dayText = "",
            days = "", 
            discount = "", 
            additional = "",
            costResult = "", 
            resultService = "", 
            resultServices = "", 
            finalTitle = "", 
            finalSum = "",
            buttonText = ""
        } = options
    form.reservation(action=actionForm method = "post")
        .reservation__container
            .reservation__description
                h1.reservation__description-num= num
                if isLux
                    span.reservation__description-lux= luxText
                span.reservation__description-cost= cost          
                    span.reservation__description-day= dayText          
            .reservation__com-data
                +date-range(dateRange)
            .reservation__guests
                legend.reservation__guests-legend= legendGuests
                +dropdown(dropdown)
            .reservation__count
                .reservation__count-text
                    span.reservation__count-text-cost= cost
                        = days
                    span.reservation__count-result= costResult
                .reservation__count-levy
                    span.reservation__count-inf= discount
                    .reservation__count-inf-i
                    span.reservation__count-result= resultService
                .reservation__count-levy
                    span.reservation__count-inf= additional 
                    .reservation__count-inf-i
                    span.reservation__count-result= resultServices
            .reservation__final
                h2.reservation__final-title= finalTitle
                .reservation__final-line
                h2= finalSum
            .reservation__button-solid
                +button({hasArrow: true, text:buttonText})