include ../text-field/text-field
include ../footer-nav/footer-nav
include ../social-networks/social-networks
include ../email-field/email-field
mixin footer(options = {})
    -
        const {
            best = "Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»", 
            subscribeTitle = "Подписка", 
            subscribeText = "Получайте специальные предложения и новости сервиса", 
            subscribeAction = "", 
            copyright = "Copyright &copy; 2018 Toxin отель. Все права зачищены."
        } = options
    .footer
        .footer__top
            .footer__toxin
                .footer__logo-color
                    +logo-color
                .footer__text= best
            .footer__list
                +footer-nav({
                    title: "навигация", 
                    items:[
                        {
                            nav: "О нас"
                        }, 
                        {
                            nav: "Новости"
                        }, 
                        {
                            nav: "Служба поддержки"
                        }, 
                        {
                        nav: "Услуги"
                        }
                    ]
                })
            .footer__list
                +footer-nav({
                    title: "о нас", 
                    items:[
                        {
                            nav: "О сервисе"
                        }, 
                        {
                            nav: "Наша команда"
                        }, 
                        {
                            nav: "Вакансии"
                        }, 
                        {
                            nav: "Инвесторы"
                        }
                    ]
                })
            .footer__list
                +footer-nav({
                    title: "Служба поддержки", 
                    items:[
                        {
                            nav: "Соглашения"
                        }, 
                        {
                            nav: "Сообщества"
                        }, 
                        {
                            nav: "Связь с нами"
                        }
                    ]
                })
            .footer__subscribe
                h3.footer__subscribe-title= subscribeTitle
                p.footer__subscribe-text= subscribeText
                form(action=subscribeAction, method="post").footer__email
                    +email-field
        .footer__bot
            .footer__bot-content
                .footer__copyright!= copyright 
                .footer__social-networks
                    +social-networks({
                        items: [
                            {
                                href: "https://twitter.com/", 
                                src: "./assets/img/twitter.svg", 
                                alt: "twitter"
                            }, 
                            {
                                href: "https://www.facebook.com/", 
                                src: "./assets/img/facebook.svg", 
                                alt: "facebook"
                            }, 
                            {
                                href: "https://www.instagram.com/", 
                                src: "./assets/img/instagram.svg", 
                                alt: "instagram"
                            }, 
                        ]
                    })
