include ../footer-nav/footer-nav
include ../social-networks/social-networks
include ../email-field/email-field
mixin footer(options = {})
    -
        const {
            best = "", 
            footerNav = [],
            subscribeTitle = "", 
            subscribeText = "", 
            subscribeAction = "", 
            copyright = "",
            socialNetworks = []
        } = options
    .footer
        .footer__top
            .footer__toxin
                .footer__logo-color
                    +logo-color
                .footer__text= best
            each nav in footerNav
                .footer__list
                    +footer-nav(nav) 
            .footer__subscribe
                h3.footer__subscribe-title= subscribeTitle
                p.footer__subscribe-text= subscribeText
                form.footer__email(action=subscribeAction, method="post")
                    +email-field
        .footer__bot
            .footer__bot-content
                .footer__copyright!= copyright 
                .footer__social-networks
                    +social-networks(socialNetworks)
