//- img_(1...4): фото комнат
//- rate: рейтинг
//- lux: boolean
//- num: номер комнаты
//- price:  цена
//- reviews: отзывы
include ../rate-button/rate-button
mixin room-card({img_1 = '', img_2 = false, img_3 = false, img_4 = false, num = 0, lux = false, price = 0, reviews = 0})
    .room-card.js-room-card
        figure.room-card__pictures.js-room-card__pictures
            .room-card__picture_1.js-room-card__picture_1(style= `background-image: url(${img_1})` )
            if(img_2)
                .room-card__picture_2.js-room-card__picture_2(style= `background-image: url(${img_2})` )
            if(img_3)
                .room-card__picture_3.js-room-card__picture_3(style= `background-image: url(${img_3})` )
            if(img_4)
                .room-card__picture_4.js-room-card__picture_4(style= `background-image: url(${img_4})` )
        .room-card__buttons.js-room-card__buttons
            .room-card__button-circle(style="background-color: white", data-target="true")
            .room-card__button-circle(data-target="false")
            .room-card__button-circle(data-target="false")
            .room-card__button-circle(data-target="false")
        .room-card__button-left.js-room-card__button-left 
        .room-card__button-right.js-room-card__button-right
        .room-card__description
            h2.description__num= num
            h3.description__lux= (lux ? "люкс": "" ) 
            .description__cost 
                b= price + "₽" + " "
                span в сутки
            .description__rating
                +rate-button({rate: rate})
            .description__reviews 
                b= reviews + " "
                span Отзывов