//- images: url фото комнат
//- rate: рейтинг
//- lux: boolean
//- num: номер комнаты
//- price:  цена
//- reviews: отзывы
include ../rate-button/rate-button
mixin room-card({images = [], num = 0, lux = false, luxText= "люкс", price = `9 000`, reviews = 0, rate = 5})
    .room-card.js-room-card
        figure.room-card__pictures.js-room-card__pictures
            each img, index in images
                .room-card__picture(class=("js-room-card__picture_" + (index + 1)) style=`background-image: url(${img})`)
        .room-card__buttons.js-room-card__buttons
            .room-card__button-circle(data-target="true")
            .room-card__button-circle(data-target="false")
            .room-card__button-circle(data-target="false")
            .room-card__button-circle(data-target="false")
        .room-card__button-left.js-room-card__button-left 
        .room-card__button-right.js-room-card__button-right
        .room-card__description
            h2.room-card__description-num= num
            h3.room-card__description-lux= (lux ? luxText: "" ) 
            .room-card__description-cost!= price + '₽'
            .room-card__description-rating
                +rate-button({rate: rate})
            .room-card__description-reviews= reviews