include ../rate-button/rate-button
mixin room-card(options = {})
    - 
        const {
            images = [], 
            num = 0, 
            isLux = false, 
            luxText = "", 
            price = "", 
            daysText = "",
            reviews = 0, 
            rate = 5,
            reviewsText = "",
        } = options
    .room-card.js-room-card
        figure.room-card__pictures.js-room-card__pictures
            each img, index in images
                .room-card__picture(class=("js-room-card__picture_" + (index + 1)) style=`background-image: url(${img})`)
        .room-card__buttons.js-room-card__buttons
            .room-card__button-circle(data-target="true")
            .room-card__button-circle(data-target="false")
            .room-card__button-circle(data-target="false")
            .room-card__button-circle(data-target="false")
        .room-card__button-left.js-room-card__button-left 
        .room-card__button-right.js-room-card__button-right
        .room-card__description
            h2.room-card__description-num= num
            h3.room-card__description-lux= (isLux ? luxText: "" ) 
            span.room-card__description-cost!= price
                span.room-card__description-days= daysText
            .room-card__description-rating
                +rate-button({rate: rate})
            div.room-card__description-reviews= reviews
                span.room-card__description-reviews-text= reviewsText