mixin header-nav(navTitles = []) 
    ul.header-nav
        each item in navTitles
            -
                const {isBold, dropdown, href, title} = item
                const fontBold = (isBold ? "header-nav__item_bold": "")
                const isDropdown = (dropdown ? "header-nav__item_with-dropdown": "")
                const tag = dropdown ? "button": "a"
            li.header-nav__li
                #{tag}.header-nav__item(
                    href=(href || "change-me.html"), 
                    class=`${fontBold} ${isDropdown}`
                )= title
                    if (dropdown)
                        .header-nav__dropdown-content 
                            each nav in dropdown
                                a.header-nav__dropdown-content-item(href="change-me.html")= nav