include ../text-field/text-field
include ../radio-button/radio-button
include ../toggle/toggle
include ../button/button
include ../date-range/date-range
include ../date-field/date-field
mixin registration({title = "Регистрация аккаунта", dateText = "дата рождения", data = "данные для входа в сервис", accountText = "Уже есть аккаунт на Toxin", action = ""} ={})
    .registration
        .registration__container
            h1.registration__title= title
            form(action=action method = "post")
                .registration__name
                    +text-field({placeholder: "Имя"})
                .registration__surname
                    +text-field({placeholder: "Фамилия"})
                .registration__radio
                    +radio-button({text: "Мужчина", value: "man", checked: true})
                    +radio-button({text: "Женщина", value: "woman"})
                .registration__data
                    legend= dateText
                    +date-field
                .registration__log-in
                    legend= data
                    .log-in__email
                        +text-field({type:"email", placeholder: "Email"})
                    .log-in__pass
                        +text-field({type: "password", placeholder: "Пароль"})
                .registration__toggle
                    +toggle
                .registration__button-solid
                    +button({arrow: true, text:"перейти к оплате"})
            form.registration__sign-in-form(action="sign-in.html")
                .registration__text= accountText
                .registration__button-empty                
                    +button({background: "white", text:"войти"})