include ../text-field/text-field
include ../radio-button/radio-button
include ../toggle/toggle
include ../button/button
include ../date-range/date-range
include ../date-field/date-field
mixin registration(options = {})
    -
        const {
            title = "",             
            data = "",             
            actionForm = "",
            textName = "",
            textSurName = "",
            radioMan = {},
            radioWoman = {},
            dateText = "", 
            textEmail = {},
            textPassword = {},
            toggleName = "", 
            buttonPay = {},
            actionSignIn = "sign-in.html",
            accountText = "", 
            buttonLogIn = ""
        } = options
    .registration
        .registration__container
            h1.registration__title= title
            form(action=actionForm method = "post")
                .registration__name
                    +text-field({placeholder: textName})
                .registration__surname
                    +text-field({placeholder: textSurName})
                .registration__radio
                    +radio-button(radioMan)
                    +radio-button(radioWoman)
                .registration__data
                    legend= dateText
                    +date-field
                .registration__log-in
                    legend= data
                    .log-in__email
                        +text-field(textEmail)
                    .log-in__pass
                        +text-field(textPassword)
                .registration__toggle
                    +toggle({text: toggleName})
                .registration__button-solid
                    +button(buttonPay)
            form.registration__sign-in-form(action=actionSignIn)
                .registration__text= accountText
                .registration__button-empty                
                    +button(buttonLogIn)